.person__image {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    width: 250px;
}

.person__image--roberta {
    background-image: url(../../../assets/img/pessoas/roberta.jpg);
} 

.person__image--marcela {
    background-image: url(../../../assets/img/pessoas/marcela.jpg);
    
} 

.person__image--andreia {
    background-image: url(../../../assets/img/pessoas/andreia.jpg);
    
} 